python-dotenv
pillow
mysql-connector-python
PyMuPDF
pytesseract
pdf2image
pip install transformers torch sentencepiece protobuf 
pip install pdfplumber
indic-transliteration
python -m spacy download xx_ent_wiki_sm
flask
pip install google-generativeai
pip install google-genai